:root {
  --cc-bg: #fdf6e3;
  --noti-border-color: #586e75;
  --noti-bg-darker: #efe8d7;
  --noti-bg-hover: #ded8c7;
  --text-color-disabled: #eee8d5;

  --noti-bg: var(--cc-bg);
  --noti-close-bg: var(--noti-bg-darker);
  --noti-close-bg-hover: var(--noti-bg-hover);
  --text-color: var(--noti-border-color);
  --noti-bg-focus: var(--noti-bg-hover);
}
