@define-color background #fdf6e3;
@define-color foreground #586e75;

@define-color color1 #dc322f;
@define-color color2 #859900;
@define-color color3 #b58900;
@define-color color4 #268bd2;
@define-color color5 #d33682;
@define-color color6 #2aa198;
