:root {
  --cc-bg: #11121D;
  --noti-border-color: #A0A8CD;
  --noti-bg-darker: #171827;
  --noti-bg-hover: #191b2b;
  --text-color-disabled: #8e95b6;

  --noti-bg: var(--cc-bg);
  --noti-close-bg: var(--noti-bg-darker);
  --noti-close-bg-hover: var(--noti-bg-hover);
  --text-color: var(--noti-border-color);
  --noti-bg-focus: var(--noti-bg-hover);
}
