@define-color background #11121D;
@define-color foreground #A0A8CD;

@define-color color1 #C43E1F;
@define-color color2 #6A8F1F;
@define-color color3 #C99A1A;
@define-color color4 #3478A0;
@define-color color5 #9854B8;
@define-color color6 #268D9E;
