:root {
  --cc-bg: #23262d;
  --noti-border-color: #bbc2cf;
  --noti-bg-darker: #272a32;
  --noti-bg-hover: #2c3039;
  --text-color-disabled: #aab0bc;

  --noti-bg: var(--cc-bg);
  --noti-close-bg: var(--noti-bg-darker);
  --noti-close-bg-hover: var(--noti-bg-hover);
  --text-color: var(--noti-border-color);
  --noti-bg-focus: var(--noti-bg-hover);
}
