@define-color background #F2EAD2;
@define-color foreground #5c6a72;

@define-color color1 #f85552;
@define-color color2 #8da101;
@define-color color3 #dfa000;
@define-color color4 #3a94c5;
@define-color color5 #df69ba;
@define-color color6 #35a77c;
