window#osd {
  border-radius: 999px;
  border: none;
  background: #222222; }
  window#osd #container {
    margin: 16px 25px; }
  window#osd image,
  window#osd label {
    color: #ffffff; }
  window#osd progressbar:disabled,
  window#osd image:disabled {
    opacity: 0.5; }
  window#osd progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none; }
  window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #707070; }
  window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #ffffff; }
