@define-color background #faf4ed;
@define-color foreground #575279;

@define-color color1 #eb6f92;
@define-color color2 #9ccfd8;
@define-color color3 #f6c177;
@define-color color4 #31748f;
@define-color color5 #c4a7e7;
@define-color color6 #9ccfd8;
