:root {
  --cc-bg: #000000;
  --noti-border-color: #eaeaea;
  --noti-bg-darker: #111111;
  --noti-bg-hover: #1b1b1b;
  --text-color-disabled: #d8d8d8;

  --noti-bg: var(--cc-bg);
  --noti-close-bg: var(--noti-bg-darker);
  --noti-close-bg-hover: var(--noti-bg-hover);
  --text-color: var(--noti-border-color);
  --noti-bg-focus: var(--noti-bg-hover);
}
