@define-color background #0a0a0a;
@define-color foreground #eaeaea;

@define-color color1 #ff5c57;
@define-color color2 #5af78e;
@define-color color3 #f3f99d;
@define-color color4 #57c7ff;
@define-color color5 #ff6ac1;
@define-color color6 #9aedfe;
