:root {
  --cc-bg: #30353f;
  --noti-border-color: #3f444a;
  --noti-bg: #282c34;
  --noti-bg-darker: #20242a;
  --noti-bg-hover: #262931;
  --text-color: #bbc2cf;
  --text-color-disabled: #5B6268;
  --bg-selected: #46D9FF;
}
