:root {
  --cc-bg: #2c3338;
  --noti-border-color: #404950;
  --noti-bg: #272e33;
  --noti-bg-darker: #21272c;
  --noti-bg-hover: #242a2f;
  --text-color: #d3c6aa;
  --text-color-disabled: #b4a88d;
  --bg-selected: #7fbbb3;
}
