:root {
  --cc-bg: #383838;
  --noti-border-color: #484848;
  --noti-bg: #282828;
  --noti-bg-darker: #202020;
  --noti-bg-hover: #232323;
  --text-color: #ebdbb2;
  --text-color-disabled: #928374;
  --bg-selected: #cc241d;
}
