:root {
  --cc-bg: #221f31;
  --noti-border-color: #403d52;
  --noti-bg: #191724;
  --noti-bg-darker: #13121c;
  --noti-bg-hover: #191a25;
  --text-color: #e0def4;
  --text-color-disabled: #e0def4;
  --bg-selected: #ebbcba;
}
