:root {
  --cc-bg: #1a1b26;
  --noti-border-color: #2e2f43;
  --noti-bg: #11121D;
  --noti-bg-darker: #10111b;
  --noti-bg-hover: #0d0e17;
  --text-color: #a9b1d6;
  --text-color-disabled: #a9b1d6;
  --bg-selected: #73D8CC;
}
