@define-color background #F2EBBC;
@define-color foreground #545464;

@define-color color1 #c84053;
@define-color color2 #6f894e;
@define-color color3 #77713f;
@define-color color4 #4d699b;
@define-color color5 #b35b79;
@define-color color6 #597b75;
