/* ==============================
   === Waybar modules styling ===
   ============================== */
/* @import url('../hypr/themes/nordic/waybar.css'); */

*{
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 0px;
  opacity: 1;
  background: black;
  border: none;
}

/* Modules styling */
#workspaces,
#clock,
#custom-expand-icon,
#idle_inhibitor,
#language,
#pulseaudio,
#network,
#battery,
#custom-notification {
  margin: 0px 1px;
  padding: 6px 5px;
  font-size: 14.5px;
  font-family: 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  font-weight: 500;
  background: transparent;
  opacity: 1;
  color: white;
}

#custom-separator {
  opacity: .2;
  font-size: .9rem;
  margin: 0px;
  padding: 0px 4px;
}

#custom-expand-icon,
#idle_inhibitor,
#pulseaudio,
#network,
#battery,
#custom-notification {
  font-family: 'Caskaydia Cove Nerd Font'
}

#custom-expand-icon {
  margin: 0;
  padding: 0;
}

/* Tray modules */
#tray { margin: 0px 8px }

#custom-bluetooth {
  margin: 0px 6px;
  margin-right: 16px
}

/* Fixes */
#battery { margin-right: 6px }
#custom-expand-icon { margin-right: 8px; padding-left: 4px; }
#custom-notification { margin: 0; margin-right: 4px; padding: 0; padding-left: 3px; }

/* Battery states */
/* #battery.warning:not(.charging), */
/* #battery.critical:not(.charging) { color: #b67777 } */
/* #battery.plugged:not(.charging)  { color: #b6a579 } */
/* #battery.charging                { color: #7db682 } */

/* Hyprland/workspaces styling */
#workspaces { padding: 0px 0px; }

#workspaces button:first-child { margin-left: 4px }

#workspaces button {
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
  color: inherit;
  min-width: 25px;
  letter-spacing: 0px;
  box-shadow: none;
  background: transparent;
  opacity: .8;
  transition: color .08s ease, background .08s ease, opacity .08s ease;
}

#workspaces button.urgent              { color: #b67777 }
#workspaces button.empty               { opacity: .4    }
#workspaces button.visible             { opacity: 1     }
#workspaces button:hover:not(.visible) { opacity: .8    }

tooltip {
  border-radius: 0px;
  /* background: black; */
}
