/* ==============================
   === Waybar modules styling ===
   ============================== */
button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin-bottom: 0px;
  padding: 0px 10px;
  background: #121212;
}

/* Modules styling */
#workspaces,
#idle_inhibitor,
#custom-updates,
#clock,
#tray,
#language,
#pulseaudio,
#network,
#custom-bluetooth,
#battery {
  margin: 0px 0px;
  padding: 10px 0px;
  border-radius: 12px;
  font-size: 17px;
  color: #fff;
  font-family: 'IosevkaTerm Nerd Font', 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  font-weight: 500;
}

/* Fixes */
#battery          { font-size: 19px; padding-right: 7px }
#custom-separator { color: #505050     }
#custom-bluetooth { padding-right: 4px }
#clock            { padding-right: 5px }

#window, #tray, #clock { font-family: 'Liberation Sans' }

/* Battery states */
#battery.warning:not(.charging),
#battery.critical:not(.charging)    { color: #ff5050 }
#battery.plugged, #battery.charging { color: #81ff5e }

/* Hyprland/workspaces styling */
#workspaces {
  padding: 0px 0px;
  font-family: 'IosevkaTerm Nerd Font';
}

#workspaces button {
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
  color: #ccc;
  min-width: 30px;
  box-shadow: none;
  background: transparent;
  transition: color .12s ease, background .12s ease;
}

#workspaces button.urgent              { color: #ff8080 }
#workspaces button.empty               { color: #606060 }
#workspaces button.visible             { color: #ffffff }
#workspaces button:hover:not(.visible) { color: #aaaaaa }
