/* ==============================
   === Waybar modules styling ===
   ============================== */
button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  /* margin: 10px; */
  margin-bottom: 0px;
  padding: 0px 0px;
  /* border-radius: 20px */
  background: #191919;
}

/* Modules styling */
#pulseaudio,
#backlight,
#idle_inhibitor,
#custom-updates,
#tray,
#workspaces,
#language,
#network,
#battery,
#clock,
#window,
#custom-bluetooth,
#custom-power {
  margin: 0px 0px;
  padding: 8px 0px;
  border-radius: 12px;
  font-size: 22px;
  color: #ebdbb2;
  font-family: 'IosevkaTerm Nerd Font', 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  font-weight: 400;
}

#custom-separator { color: #606060 }

/* Colors */
#idle_inhibitor,
#custom-updates {
  color: #458588;
}

#language {
  color: #b16286
}

#pulseaudio,
#backlight {
  color: #8ec07c
}

#network,
#custom-bluetooth {
  color: #83a598;
}

#clock {
  color: #fb4934
}

/* Font fixes */
#battery { font-size: 24px }
#custom-bluetooth { font-size: 25px }
#window { font-size: 20px; color: #d3c4a0 }

#window,
#tray,
#clock {
  font-family: 'Liberation Sans'
}

/* Style fixes */
#battery { padding-right: 13px }
#idle_inhibitor { padding-right: 10px }
#clock { padding-right: 13px }

/* Hyprland/workspaces styling */
#workspaces {
  padding: 0px 5px;
  font-family: 'IosevkaTerm Nerd Font';
}

#workspaces button {
  padding: 0px 0px;
  margin: 0px 2px;
  border: none;
  color: #ccc;
  min-width: 40px;
  box-shadow: none;
  background: transparent;
  transition: color .12s ease, background .12s ease;
}

#workspaces button.urgent              { color: #cc241d }
#workspaces button.empty               { color: #606060 }
#workspaces button.visible             { color: #d79921 }
#workspaces button:hover:not(.visible) { color: #aaa }

/* Battery states */
#battery.warning:not(.charging),
#battery.critical:not(.charging) { color: #cc241d }

#battery.plugged  { color: #d79921; }
#battery.charging { color: #98971a; }
