/* ==============================
   === Waybar modules styling ===
   ============================== */
@import url('../hypr/themes/nordic/waybar.css');

*{
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 0px;
  opacity: 1;
  background: @background;
  border: none;
}

/* Modules styling */
#workspaces,
#custom-separator,
#window,
#custom-expand-icon,
#custom-bluetooth,
#custom-dropper,
#group-tray-expander,
#language,
#idle_inhibitor,
#custom-updates,
#memory,
#cpu,
#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#custom-notification {
  margin: 0px 0px;
  padding: 7px 5px;
  font-size: 13px;
  font-family: 'JetBrainsMono Nerd Font', 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  font-weight: 400;
  background: transparent;
  opacity: 1;
  color: @foreground;
}


#custom-separator {
  opacity: .2;
  font-size: .9rem;
  margin: 0px;
  padding: 0px 4px;
}

/* Colors */
#workspaces                  { color: @color4; }
#language, #idle_inhibitor,
#custom-updates              { color: @color3; }
#cpu, #memory                { color: @color5; }
#pulseaudio, #backlight      { color: @color6; }
#network, #battery           { color: @color2; }
#clock, #custom-notification { color: @color1; }

/* Tray modules */
#custom-dropper,
#custom-bluetooth {
  background: transparent;
  margin: 0px 0px;
  padding: 0px 12px;
}

#custom-dropper { font-size: .8rem; }

/* Fixes */
#battery             { padding-right: 6px  }
#cpu                 { margin-right: 5px;  }
#custom-bluetooth    { padding-right: 4px  }
#pulseaudio          { padding-right: 8px  }
#clock               { padding-right: 2px; }
#custom-expand-icon  { padding-right: 5px; }
#language            { padding-left: 6px;  }
#custom-notification { padding-left: 10px; padding-right: 6px; }

/* Battery states */
/* #battery.warning:not(.charging), */
/* #battery.critical:not(.charging) { color: #b67777 } */
/* #battery.plugged:not(.charging)  { color: #b6a579 } */
/* #battery.charging                { color: #7db682 } */

/* Hyprland/workspaces styling */
#workspaces { padding: 0px 0px; }

#workspaces button:first-child { padding-left: 5px }

#workspaces button {
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
  color: inherit;
  min-width: 35px;
  letter-spacing: 0px;
  box-shadow: none;
  background: transparent;
  opacity: .5;
  /* transition: color .12s ease, background .12s ease; */
}

#workspaces button.urgent              { color: #b67777 }
#workspaces button.empty               { opacity: .2    }
#workspaces button.visible             { opacity: 1     }
#workspaces button:hover:not(.visible) { opacity: .8    }

tooltip {
  border-radius: 0px;
  /* background: @background; */
}
