/* Waybar styles */
button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  background: #000000;
  margin: 8px;
  margin-bottom: 0px;
  padding: 0px 0px;
  border-radius: 20px
}

/* Modules styling */
#workspaces,
#tray,
#custom-updates,
#language,
#pulseaudio,
#battery,
#network,
#clock {
  margin: 0px 0px;
  padding: 9px 0px;
  border-radius: 12px;
  font-size: 22px;
  color: #ffffff;
  font-family: 'IosevkaTerm Nerd Font', 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  background: #000000;
  font-weight: 500;
}

/* Font fixes */
#battery        { font-size: 24px }
#tray,
#clock { font-family: 'Adwaita Sans' }

/* Style fixes */
#battery        { padding-right: 35px }
#custom-updates { margin-right: 15px  }
#tray           { margin-right: 15px  }
#pulseaudio     { margin-right: 10px  }
#network        { margin-right: 12px  }
#language       { margin-right: 12px  }

/* Hyprland/workspaces styling */
#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  padding: 0px 0px;
  margin: 0px 0px;
  border-radius: 0px;
  border: none;
  color: #808080;
  min-width: 40px;
  box-shadow: none;
  background: transparent;
  transition: none;
}

#workspaces button.urgent              { color: #ff5050 }
#workspaces button.empty               { color: #404040 }
#workspaces button.visible             { color: #ffffff }
#workspaces button:hover:not(.visible) { color: #aaaaaa }

/* Battery states */
#battery.warning:not(.charging),
#battery.critical:not(.charging) { color: #ff5050 }

#battery.plugged  { color: #ffcc15; }
#battery.charging { color: #80ff80; }
