/* ==============================
   === Waybar modules styling ===
   ============================== */
button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin: 8px;
  margin-bottom: 0px;
  padding: 0px 0px;
  border-radius: 20px
}

/* Modules styling */
#pulseaudio,
#backlight,
#idle_inhibitor,
#custom-updates,
#tray,
#workspaces,
#language,
#network,
#battery,
#clock,
#custom-power {
  margin: 0px 0px;
  padding: 5px 20px;
  border-radius: 12px;
  font-size: 22px;
  color: #ffffff;
  font-family: 'IosevkaTerm Nerd Font', 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  background: rgba(0, 0, 0, .75);
  font-weight: 400;
}

/* Font fixes */
#battery { font-size: 24px }

#tray,
#clock {
  font-family: 'Liberation Sans'
}

/* Style fixes */
#battery             { padding-right: 28px; padding-bottom: 6px }
#idle_inhibitor      { padding-right: 28px }
#network             { padding-right: 17px }
#custom-power        { padding-right: 27px }
#custom-notification { padding-right: 27px }

/* Colors */
#pulseaudio     { color: #08d7b1 }
#backlight      { color: #e7815c }
#idle_inhibitor { color: #F7C493 }
#custom-updates { color: #c950bd }
#language       { color: #29a0db }
#network        { color: #d4663e }
#battery        { color: #e7ce82 }
#clock          { color: #7bc13d }
#custom-power   { color: #e88e8e }

/* Hyprland/workspaces styling */
#workspaces {
  padding: 0px 5px;
  font-family: 'Liberation Sans';
}

#workspaces button {
  padding: 0px 0px;
  margin: 5px 0px;
  border-radius: 9px;
  border: none;
  color: #b8ad90;
  min-width: 50px;
  box-shadow: none;
  background: transparent;
  transition: color .12s ease, background .12s ease;
}

#workspaces button.urgent              { color: #d8854b }
#workspaces button.empty               { color: #575244 }
#workspaces button.visible             { color: #d8474a; background: rgba(228, 177, 125, .12); }
#workspaces button:hover:not(.visible) { color: #E4B17D }

/* Battery states */
#battery.warning:not(.charging),
#battery.critical:not(.charging) { color: #d8474a }

/* #battery.plugged  { color: #e7ce82; } */
/* #battery.charging { color: #7bc13d; } */
