/* ==============================
   === Waybar modules styling ===
   ============================== */
@import url('../hypr/themes/rose-pine/waybar.css');

button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 0px 2px;
  opacity: .9;
  background: @background;
}

/* Modules styling */
#workspaces,
#custom-separator,
#window,
#custom-expand-icon,
#custom-bluetooth,
#custom-dropper,
#group-tray-expander,
#language,
#idle_inhibitor,
#custom-updates,
#memory,
#cpu,
#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#custom-notification {
  margin: 4px 2px;
  padding: 0px 4px;
  font-size: 16px;
  font-family: 'IosevkaTerm Nerd Font', 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  font-weight: 500;
  opacity: 1;
  color: @foreground;
}

/* Tray modules */
#custom-dropper,
#custom-bluetooth {
  background: transparent;
  margin: 0px 7px;
  padding: 0px;
}

#custom-dropper { font-size: .9rem; }

/* Fixes */
#custom-menu         { font-size: 1.2rem                      }
#battery             { font-size: 1.25rem; margin-right: 2px  }
#custom-separator    { opacity: .15; font-size: .9rem         }
#cpu                 { margin-right: 5px;                     }
#custom-bluetooth    { padding-right: 4px                     }
#clock               { padding-right: 0px; margin-right: 0px; }
#custom-notification { padding-left: 10px; margin-left: 0px;  }
#custom-expand-icon  { margin-right: 5px;                     }
#language            { padding-left: 6px                      }
#window              { font-size: .93rem; opacity: .7;        }

#workspaces, #window, #tray { font-family: 'Liberation Sans' }

/* Battery states */
/* #battery.warning:not(.charging), */
/* #battery.critical:not(.charging) { color: #b67777 } */
/* #battery.plugged:not(.charging)  { color: #b6a579 } */
/* #battery.charging                { color: #7db682 } */

/* Hyprland/workspaces styling */
#workspaces {
  padding: 0px 0px;
}

#workspaces button {
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
  font-size: .95rem;
  color: inherit;
  min-width: 42px;
  box-shadow: none;
  background: transparent;
  opacity: .5;
  /* transition: color .12s ease, background .12s ease; */
}

#workspaces button.urgent              { color: #b67777 }
#workspaces button.empty               { opacity: .2    }
#workspaces button.visible             { opacity: 1     }
#workspaces button:hover:not(.visible) { opacity: .8    }

tooltip {
  border-radius: 0px;
  /* background: @background; */
}
