/* ==============================
   === Waybar modules styling ===
   ============================== */

button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px 2px;
  background: #000000;
}

/* Modules styling */
#workspaces,
#custom-separator,
#window,
#custom-expand-icon,
#custom-bluetooth,
#group-tray-expander,
#language,
#idle_inhibitor,
#custom-updates,
#memory,
#cpu,
#pulseaudio,
#backlight,
#network,
#battery,
#clock,
#custom-notification {
  margin: 4px 2px;
  padding: 2px 4px;
  font-size: 16px;
  color: #aaa;
  font-family: 'IosevkaTerm Nerd Font', 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  font-weight: 500;
}

/* Tray modules */
#custom-bluetooth {
  background: transparent;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
}

/* Fixes */
#battery             { font-size: 1.25rem; margin-right: 2px  }
#custom-separator    { color: #505050; font-size: .9rem       }
#cpu                 { margin-right: 5px;                     }
#custom-bluetooth    { padding-right: 4px                     }
#clock               { padding-right: 0px; margin-right: 0px; }
#custom-notification { padding-left: 10px; margin-left: 0px;  }
#custom-expand-icon  { margin-right: 5px;                     }
#language            { padding-left: 6px                      }
#window              { color: #606060; font-size: .95rem      }

#workspaces,
#window,
#tray,
#clock {
  font-family: 'Liberation Sans'
}

/* Merged modules */
#clock {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#custom-notification {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Battery states */
#battery.warning:not(.charging),
#battery.critical:not(.charging)    { color: #b67777 }
#battery.plugged:not(.charging) { color: #b6a579 }
#battery.charging { color: #7db682 }

/* Hyprland/workspaces styling */
#workspaces {
  padding: 0px 0px;
}

#workspaces button {
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
  font-size: .95rem;
  color: #606060;
  min-width: 42px;
  box-shadow: none;
  background: transparent;
  transition: color .12s ease, background .12s ease;
}

#workspaces button.urgent              { color: #b67777 }
#workspaces button.empty               { color: #303030 }
#workspaces button.visible             { color: #aaaaaa }
#workspaces button:hover:not(.visible) { color: #808080 }

tooltip {
  border-radius: 0px;
  background: #121212;
}
