/* ==============================
   === Waybar modules styling ===
   ============================== */
/* @import url('../hypr/themes/nordic/waybar.css'); */

*{
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

button {
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  border: 0;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0;
  padding: 0;
}

window#waybar>box {
  margin: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  padding: 3px 6px;
  opacity: 1;
  background: #090909;
  border: none;
}

/* Modules styling */
#custom-updates,
#custom-menu,
#workspaces,
#clock,
#custom-expand-icon,
#idle_inhibitor,
#custom-separator,
#language,
#pulseaudio,
#network,
#battery,
#custom-notification,
#custom-power {
  margin: 0px 1px;
  padding: 0px 6px;
  font-size: 14.5px;
  font-family: 'Liberation Sans', 'Adwaita Sans', 'Noto Sans', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  background: transparent;
  opacity: 1;
  color: white;
}

#custom-separator {
  opacity: .15;
  font-size: .9rem;
  margin: 0px;
  padding: 0px 4px;
}

#custom-updates,
#custom-menu,
#custom-power,
#custom-expand-icon,
#idle_inhibitor,
#pulseaudio,
#network,
#battery,
#custom-notification {
  font-family: 'Caskaydia Cove Nerd Font'
}

/* Tray modules */
#custom-bluetooth,
#tray { margin: 0px 7px }

#custom-expand-icon {
  background: transparent;
  margin-right: 10px;
}

/* Fixes */
#custom-expand-icon {
  margin: 0;
  padding: 0;
  margin-right: 8px
}

#group-tray-expander {
  margin: 0;
  padding: 0;
}

#language {
  margin-left: 4px
}

#custom-menu {
  padding-right: 9px;
}

#idle_inhibitor {
  padding-left: 10px;
  padding-right: 8px
}

#custom-power {
  padding-right: 10px
}

#custom-notification {
  padding-right: 2px;
}

/* Battery states */
/* #battery.warning:not(.charging), */
/* #battery.critical:not(.charging) { color: #b67777 } */
/* #battery.plugged:not(.charging)  { color: #b6a579 } */
/* #battery.charging                { color: #7db682 } */

/* Hyprland/workspaces styling */
#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button {
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
  color: inherit;
  min-width: 25px;
  letter-spacing: 0px;
  box-shadow: none;
  background: transparent;
  opacity: .8;
  transition: color .08s ease, background .08s ease, opacity .08s ease;
}

#workspaces button.urgent              { color: #b67777 }
#workspaces button.empty               { opacity: .4    }
#workspaces button.visible             { opacity: 1     }
#workspaces button:hover:not(.visible) { opacity: .8    }

tooltip {
  border-radius: 0px;
  background: black;
}
