/* @import url('../hypr/themes/nordic/waybar.css'); */

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
  border-radius: 6px;
  margin: 5px;
  border-color: transparent;
	text-decoration-color: #FFFFFF;
  color: #FFFFFF;
	background-color: #131313;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #282828;
	outline-style: solid;
  outline-color: #aaa;
  color: white;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
