* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
  border-radius: 0;
  border-color: black;
	text-decoration-color: #FFFFFF;
  color: #FFFFFF;
	background-color: #121212;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #404040;
	outline-style: none;
  color: white;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
