:root {
  --cc-bg: #1D2021;
  --noti-border-color: #ebdbb2;
  --noti-bg-darker: #262a2b;
  --noti-bg-hover: #2b3031;
  --text-color-disabled: #a89984;

  --noti-bg: var(--cc-bg);
  --noti-close-bg: var(--noti-bg-darker);
  --noti-close-bg-hover: var(--noti-bg-hover);
  --text-color: var(--noti-border-color);
  --noti-bg-focus: var(--noti-bg-hover);
}
