@define-color background #1D2021;
@define-color foreground #ebdbb2;

@define-color color1 #cc241d;
@define-color color2 #98971a;
@define-color color3 #d79921;
@define-color color4 #458588;
@define-color color5 #b16286;
@define-color color6 #689d6a;
