:root {
  --cc-bg: #1E232A;
  --noti-border-color: #abb2bf;
  --noti-bg-darker: #242a32;
  --noti-bg-hover: #2c333d;
  --text-color-disabled: #aab0bc;

  --noti-bg: var(--cc-bg);
  --noti-close-bg: var(--noti-bg-darker);
  --noti-close-bg-hover: var(--noti-bg-hover);
  --text-color: var(--noti-border-color);
  --noti-bg-focus: var(--noti-bg-hover);
}
