@define-color background #23262d;
@define-color foreground #bbc2cf;

@define-color color1 #ff6c6b;
@define-color color2 #98be65;
@define-color color3 #da8548;
@define-color color4 #51afef;
@define-color color5 #c678dd;
@define-color color6 #5699af;
