@define-color background #1e1e2e;
@define-color foreground #c6c6c6;

@define-color color1 #f38ba8;
@define-color color2 #a6e3a1;
@define-color color3 #f9e2af;
@define-color color4 #89b4fa;
@define-color color5 #f5c2e7;
@define-color color6 #94e2d5;
