@define-color background #191724;
@define-color foreground #e0def4;

@define-color color1 #eb6f92;
@define-color color2 #31748f;
@define-color color3 #f6c177;
@define-color color4 #9ccfd8;
@define-color color5 #c4a7e7;
@define-color color6 #ebbcba;
