@define-color background #242933;
@define-color foreground #BBBDAF;

@define-color color1 #BD6062;
@define-color color2 #A3D6A9;
@define-color color3 #F0DFAF;
@define-color color4 #8FB4D8;
@define-color color5 #C7A9D9;
@define-color color6 #B6D7A8;
