@define-color background #00141A;
@define-color foreground #657b83;

@define-color color1 #B7221E;
@define-color color2 #596600;
@define-color color3 #664D00;
@define-color color4 #1A6497;
@define-color color5 #B02669;
@define-color color6 #196265;
