:root {
  --cc-bg: #21282c;
  --noti-border-color: #d3c6aa;
  --noti-bg-darker: #272f34;
  --noti-bg-hover: #2e383d;
  --text-color-disabled: #bfb39a;

  --noti-bg: var(--cc-bg);
  --noti-close-bg: var(--noti-bg-darker);
  --noti-close-bg-hover: var(--noti-bg-hover);
  --text-color: var(--noti-border-color);
  --noti-bg-focus: var(--noti-bg-hover);
}
