@define-color background #21282c;
@define-color foreground #d3c6aa;

@define-color color1 #e67e80;
@define-color color2 #a7c080;
@define-color color3 #dbbc7f;
@define-color color4 #7fbbb3;
@define-color color5 #d699b6;
@define-color color6 #83c092;
