@define-color bg       #282c34;
@define-color bg2      #1a1c22;
@define-color fg       #bbc2cf;

@define-color color1   #ff6c6b;
@define-color color2   #98be65;
@define-color color3   #c678dd;
@define-color color4   #ECBE7B;
@define-color color5   #46D9FF;
@define-color color6   #c678dd;
@define-color color7   #51afef;

@define-color occupied #5f687b;
@define-color urgent   #ff6c6b;
@define-color empty    #3c424e;
@define-color visible  #46D9FF;
@define-color critical #ff6c6b;
@define-color hover    #c678dd;
