@define-color bg       #272e33;
@define-color bg2      #171d23;
@define-color fg       #d3c6aa;

@define-color color1     #e67e80;
@define-color color2     #a7c080;
@define-color color3     #d699b6;
@define-color color4     #dbbc7f;
@define-color color5     #83c092;
@define-color color6     #d699b6;
@define-color color7     #7fbbb3;

@define-color occupied #637581;
@define-color urgent   #e67e80;
@define-color empty    #3d4850;
@define-color visible  #83c092;
@define-color critical #e67e80;
@define-color hover    #e69875;
