@define-color bg       #282828;
@define-color bg2      #1b1b1b;
@define-color fg       #ebdbb2;

@define-color color1   #cc241d;
@define-color color2   #98971a;
@define-color color3   #b16286;
@define-color color4   #d79921;
@define-color color5   #689d6a;
@define-color color6   #b16286;
@define-color color7   #458588;

@define-color occupied #787878;
@define-color urgent   #fe8019;
@define-color empty    #484848;
@define-color visible  #cc241d;
@define-color critical #cc241d;
@define-color hover    #689d6a;
