@define-color bg #001e26;
@define-color bg2 #001318;
@define-color fg #839496;

@define-color color1 #DC322F;
@define-color color2 #859901;
@define-color color3 #D33682;
@define-color color4 #B58900;
@define-color color5 #2AA198;
@define-color color6 #D33682;
@define-color color7 #278BD2;

@define-color occupied #586E75;
@define-color urgent #DC322F;
@define-color empty #003e4b;
@define-color visible #2AA198;
@define-color critical #DC322F;
@define-color hover #6C71C4;
