@define-color bg       #11121D;
@define-color bg2      #090910;
@define-color fg       #a9b1d6;

@define-color color1   #f7768e;
@define-color color2   #73daca;
@define-color color3   #bb9af7;
@define-color color4   #e0af68;
@define-color color5   #7dcfff;
@define-color color6   #bb9af7;
@define-color color7   #7aa2f7;

@define-color occupied #5a5e9c;
@define-color urgent   #f7768e;
@define-color empty    #242639;
@define-color visible  #73daca;
@define-color critical #f7768e;
@define-color hover    #ff9e64;
