@define-color background #1f1f28;
@define-color foreground #dcd7ba;

@define-color color1 #c34043;
@define-color color2 #76946a;
@define-color color3 #c0a36e;
@define-color color4 #7e9cd8;
@define-color color5 #957fb8;
@define-color color6 #6a9589;
