:root {
  --cc-bg: #fbf1c7;
  --noti-border-color: #3c3836;
  --noti-bg-darker: #ebe1ba;
  --noti-bg-hover: #dcd3ae;
  --text-color-disabled: #ebdbb2;

  --noti-bg: var(--cc-bg);
  --noti-close-bg: var(--noti-bg-darker);
  --noti-close-bg-hover: var(--noti-bg-hover);
  --text-color: var(--noti-border-color);
  --noti-bg-focus: var(--noti-bg-hover);
}
